.m-header {
  height: 60px;
  background: #1087E3;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.m-header .inner {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.m-header .inner h1 {
  line-height: 60px;
  font-size: 30px;
  color: #fff;
}
