@headerHeight: 60px;

.m-header{
  height: @headerHeight;
  background:#1087E3;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .inner{
    width: 1000px;
    height: 100%;
    margin: 0 auto;

    h1{
      line-height: @headerHeight;
      font-size: 30px;
      color: #fff;
    }

  }
}